:root {
  --test-colour: hotpink; /* Used when undecided or experimenting */
  --main-background-colour: #EBEBEB;
  --board-colour: white;
  --grid-colour: blue;
  --num-rows-cols: 3;
}


* {
  border: 1px solid blue;

  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  margin: 0; /* Remove browser margin */

  height: 100vh;

  display: grid;
  grid-template-rows: 128px 1fr 64px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header */
header {
  grid-area: "header";
}

main {
  grid-area: "main";
}

/* Game board */
#gameBoard {
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

/* Game grid */
#grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--num-rows-cols), 1fr);
  grid-template-rows: repeat(var(--num-rows-cols), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.square {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}



/* Game pieces */
.gamePiece {}

/* Noughts */
.noughts {}

/* Crosses */
.crosses {}

/* Winner indication */
/* Draw indication */

footer {
  grid-area: "footer";
}
