:root {
  /* Colours */
  --test-colour: hotpink; /* Used when undecided or experimenting */
  --main-background-colour: #EBEBEB;
  --board-colour: white;
  --grid-colour: hotpink;

  /* Dimensions */
  --num-rows-cols: 3;
}


* {
  border: 1px solid blue;
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  height: 100vh;

  background-color: var(--main-background-colour);

  display: grid;
  grid-template-rows: 128px 1fr 64px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header */
header {
  grid-area: "header";
}

main {
  grid-area: "main";
}

/* Game board */
#gameBoard {
  margin: 0 auto;

  width: 60vh;
  height: 60vh;

  background-color: var(--board-colour);
}

/* Game grid */
#grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--num-rows-cols), 1fr);
  grid-template-rows: repeat(var(--num-rows-cols), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridSquare {
  padding: 8px 4px;

  /* TODO: Make border different based on position e.g. square 0,0 should have border-bottom and border-right */
  border-left: 1px solid var(--grid-colour);
  border-bottom: 1px solid var(--grid-colour);
}

.gridSquare:hover {
  background-color: var(--test-colour);
}

/* Game pieces */
.gamePiece {
  /* height: height of square - padding */
  height: 100px;
  /* width: width of square - padding */
  width: 100px;

}

/* Noughts */
.O {
  border-radius: 50%;
  background-color: var(--test-colour);
}

/* Crosses */
.X {
  background-color: blue;
  content: "\274c";
}

/* Winner indication */
/* Draw indication */

footer {
  grid-area: "footer";
}
