@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  /* Fonts */
  --heading-font: 'Fredoka One', sans-serif;
  --body-font: sans-serif;

  /* Colours */
  --yolk-yellow: #FFBE3F;
  --dark-blue: #011F3E;

  /* Borders */
  --card-border: 4px solid white;

  /* Shadows */
  --button-shadow: 0 0 6px rgba(0, 33, 66, 0.2);

  /* Border radius */
  --button-radius: 12px;
};

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: 0;
}

body {
  margin: 0;

  background-color: var(--yolk-yellow);

  font-family: var(--body-font);
  font-size: var(--body-text);
  color: var(--dark-blue);
}

header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
  align-items: center; /* horizontal alignment */
  /* background-color: hotpink; */
}

main {
  grid-area: main;
  /* background-color: blue; */
}

aside {
  grid-area: aside;
  /* background-color: green; */
}

footer {
  grid-area: footer;

  /* background-color:red; */

  display: flex;
  flex-direction: row;
  justify-content: center; /* vertical alignment */
  align-items: center; /* horizontal alignment */
}

h1 {
  font-family: var(--heading-font);
}

button {
  cursor: pointer;

  width: 20vh;
  height: 20vh;

  background-color: white;

  border: var(--card-border);
  border-radius: var(--button-radius);
  box-shadow: var(--button-shadow);

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--yolk-yellow);
}

button:focus {
  background-color: var(--dark-blue);
  color: white;
}

#menu {
  display: grid;
  grid-auto-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 4px;
}

.menuButton {
  background-size: cover;
  background-color: white;
  font-family: var(--heading-font);
}

#game {
  display: none;
  /* margin: 0 auto; */

  flex-direction: row;
  justify-content:center;
  align-items: center;

  height: 200px;
  background-color: white;
}

#grid {
  display: none;
  grid-gap: 4px;
}

.gridSquare {
  cursor: pointer;

  background-color: var(--dark-blue);
}

.chicken {
  background-image: url('../images/Chicken-Transparent.png');
}

.egg {
  background-image: url('../images/Egg-Transparent.png');
}

#nought {}

#cross {}

#selectGamemode{
  display: none;
}

#selectBoardSize{
  display: none;
}

#human {
  background-image: url('../images/Human-Transparent.png');
}

#computer {
  background-image: url('../images/Computer-Transparent.png');
}

@media screen and (max-device-width: 667px) {
  #container {
    height: 100vh;
    margin: 16px;

    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr auto;
    grid-gap: 12px;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }

  .desktopOnly {
    display: none;
  }

  .gridOption{
    font-size: 64px;
  }
}

@media screen and (max-device-width: 799px) {
  #container {
    height: 100vh;
    margin: 32px;

    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr auto;
    grid-gap: 12px;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }

  .desktopOnly {
    display: none;
  }

  .gridOption{
    font-size: 32px;
  }
}

@media screen and (min-device-width: 800px) {
  #container {
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr auto;
    grid-gap: 12px;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  .gridOption{
    font-size: 32px;
  }

}
